

body{



  margin: 0;
  padding: 0;
  background: url(23.jpg);
    background-size:cover ; 
  font-family: sans-serif;
  
  }
  .login{
  width: 450px;
  height:500px;
  background: rgba(0, 0, 0, 0.541);
  color:rgb(0, 0, 0);
  top: 50%;
  left: 50%;
  position: absolute; 
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  padding: 70px 30px;
  
  }
  h1{
  margin: 0;
  padding: 0;
  text-align:center ;
  font-size :30px;
  font-family: inherit;
  color: #fff;
  } 
  
  .login p{
  font-size: 20px;
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: #fff;
  }
  .login input{
      width: 100%;
      margin-bottom: 20px;
  }
  .login input[type="text"],input[type="password"] ,[type="tel"]{
  
      border: none;
  border-bottom: 1px solid rgba(238, 236, 236, 0.5);
  background: transparent;
  outline: none;
  height: 40px;
  
  color:rgb(218, 205, 205);
  font-size: 16px;
  }
  
  .login input[ type="submit"]{
  
  border: none;
  outline: none;
  height: 40px;
  border-radius: #160910;
  color: rgb(0, 0, 0);
  font-size: 18px;
  border-radius: 15px;
border: rgb(0, 0, 0) solid 2px;
  background-color: rgba(255, 250, 255, 0.774);
  }
   button{
   
    
    height: 40px;
    width: 100%;
    border-radius: #160910;
    
    font-size: 18px;
    border-radius: 15px;
  text-decoration: none;
  background-color: rgba(220, 212, 224, 0.863) ;
  border: rgb(5, 0, 5) solid;
  }
button a{
   text-decoration: none;
   color: black;
}

button img :hover{

color: rgb(209, 41, 41);
transform: 10px; ;

}

button a:hover{

  color: rgb(114, 3, 90);
  
  }
















}
button a{
text-decoration: none;
color: black;
}
